<a href="https://colab.research.google.com/github/SSAC-AI/AI/blob/main/6_23_colab_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩 테스트

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

In [ ]:
myvar="John"
my_var="John"
_my_var="John"
myVar="John"
MYVAR="John"
myvar2="John"

In [ ]:
x,y,z="Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x="Python is awesome"
print(x)

Python is awesome

In [ ]:
x="awesome"

def myfunc():
  print("Python is "+x)

myfunc()

Python is awesome

In [ ]:
x=5
print(type(x))

<class 'int'>

In [ ]:
x=1
y=2.8
z=1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
print(10 + 5)

15

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

for 리스트

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

리스트를 알파벳순으로 정렬

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

리스트 복사

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

리스트 결합

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

튜플

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

튜플 항목에 접근

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

튜플 값 변경

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

튜플 패킹 후 언패킹

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

튜플 항목 반복

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

튜플 결합

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

세트 만들기

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

집합 반복 후 값 인쇄

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

세트 항목 추가

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

세트 항목 제거

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

for 루프

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

세트 결합

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

파이썬 사전만들기

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

항목 액세스

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

사전 항목 변경

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

사전 항목 추가

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

사전 항목 제거

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

사전 반복

In [ ]:
for x in thisdict:
  print(x)

brand
year

사전 복사

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

중첩된 사전

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

if문

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

match문을 이용하여 요일 출력하기

In [ ]:

day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

while 루프

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

for 루프 목록에 있는 각 과일 인쇄

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

함수 호출

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

인수에 10을 더하고 결과 a 반환

In [ ]:
x = lambda a : a + 10
print(x(5))

15

배열의 0번째 문자 인쇄

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
x=cars[0]
print(x)

Ford

클래스 만들기

In [ ]:
class MyClass:
  x = 5

p1=MyClass()
print(p1.x)

5

부모 클래스 만들기

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

튜플에서 반복자를 반환 후 각 값 인쇄

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

문자열 문자수 반환

In [ ]:
x = "Hello World!"

print(len(x))

12

로컬 범위

In [ ]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

datetime 모듈을 가져와 현재 날짜 표시

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2025-06-23 02:37:23.758347

항목 내에서 최대 최소값 찾기

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

JSON에서 Python으로 변환

In [ ]:
import json

x =  '{ "name":"John", "age":30, "city":"New York"}'
y = json.loads(x)

print(y["age"])

문자열에서 "The"로 시작하고 "Spain"으로 끝나는지 확인

In [ ]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("참")
else:
  print("거짓")

참

문자열 포맷팅

In [ ]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

사용자 입력

In [ ]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
김영빈
Hello 김영빈

In [ ]:
age = int(input())
score = int(input())
if (age>=18):
  print("성인")
  if (score>=80):
    print("합격")
  else:
    print("불합격")
else:
  print("미성년")

키 평균 구하기

In [15]:
n=3
h1 = int(input())
h2 = int(input())
h3 = int(input())
sum = h1 + h2 + h3
avg = sum/n
print("평균 키는 :",int(avg),"입니다")

120
180
170
평균 키는 : 156 입니다

In [19]:
if (h1>=170):
  print("h1은 키가 크다")
else:
  print("h1는 키가 작다")

h1는 키가 작다

자율주행 과속 판단 if문 샘플

In [23]:
# 차량의 현재 속도
speed = int(input("현재 속도를 입력하세요 (km/h): "))

# 제한 속도 설정
speed_limit = 60

# 조건문으로 속도 판단
if speed > speed_limit:
    print("과속입니다! 속도를 줄이세요.")
elif speed == speed_limit:
    print("제한 속도입니다. 안전 운전하세요.")
else:
    print("안전 속도입니다. 계속 운전하세요.")

현재 속도를 입력하세요 (km/h): 120
과속입니다! 속도를 줄이세요.

자율주행 신호등 판단 if문 샘플

In [22]:
# 신호등 색깔 입력 받기
light = input("신호등 색깔을 입력하세요 (red, yellow, green): ").lower()

# 신호등 판단
if light == "red":
    print("정지하세요.")
elif light == "yellow":
    print("주의! 천천히 멈추세요.")
elif light == "green":
    print("진행하세요.")
else:
    print("잘못된 입력입니다. red, yellow, green 중 하나를 입력하세요.")

신호등 색깔을 입력하세요 (red, yellow, green): green
진행하세요.